<div id="listhome">
    <p class="listhome"> submit a list
        <a href="/list/create">create a todo list</a>
    </p>
    <p>
        view all list<a href="/list/all">view all todo list</a>
    </p>
</div>