<form id="list" class="form-style" action="/list/create" method="POST">
    <input type="title" id="title" name="title" placeholder="title" required>
    <input type="description" id="description" name="description" placeholder="description" required>
    
    <input type="category" id="category" name="category" placeholder="category" required>
    <input type="submit" value="form submit">
  </form>